<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

ðŸ’« `immutable` => `can't be changed` <br>
ðŸ’« `mutable` => `can be changed`

## Lists

### Create an empty list with the name â€˜aâ€™, print the value of a and type(a).

In [9]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [21]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [23]:

for x in languages:
    print (x)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [32]:
temp = languages[1]
print (temp)

Python

In [ ]:
count = 0
for x in languages:
    if count == 1:
        temp = x
        break
    count += 1
print (temp)

Python

In [47]:
for index, item in enumerate(languages):
    if index == 1:
        temp = item
        break
print(temp)

Python

Print the value of temp and type(temp)

In [49]:

print(temp)
type(temp)

Python

str

Append the element 'Java' in the list

In [59]:

languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [61]:
languages.pop(4)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [â€˜Redâ€™, â€˜Blueâ€™, â€˜Whiteâ€™]

In [63]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [65]:
colors.append('Black')
print(colors)

['Red', 'Blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [68]:

colors.insert(1, 'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Print the list

In [69]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Black']

Create another list, colors2 = [â€˜Greyâ€™, â€˜Sky Blueâ€™]

In [70]:
colors2 = ['Grey', 'Sky Blue']

In [89]:
colors.pop()
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Add the elements of colors2 to colors using extend function in the list

In [90]:
colors.extend(colors2)
print (colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [92]:

print(len(colors))
for x in colors:
    print (x)

7
Red
Orange
Blue
White
Black
Grey
Sky Blue

Sort the list and print it.

In [94]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = â€˜Coronavirus Caused Lockdowns Around The World.â€

In [95]:
sent = "Coronavirus Caused Lockdowns Around The World"

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [99]:
words_lower = []
for i in words:
    words_lower.append(i.lower())
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether â€˜countryâ€™ is in the list

In [102]:
if "country" in words_lower:
    print("true")
else:
    print("false")

false

In [105]:
for i in words_lower:
    if i == "country":
        print("true")
        break
else:
    print("false")

false

Remove the element â€˜theâ€™ from the list and print the list.

In [107]:

words_lower.remove("the")

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [108]:
x4 = words_lower[:4]

In [109]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [111]:

" ".join(x4)

'coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [112]:
stud_grades = {'A','A','B','C','C','F'}

In [113]:

type(stud_grades)

set

Create a new variable, stud_grades_set = set(stud_grades)

In [114]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [115]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [121]:
type(stud_grades_set)
type(stud_grades)
print(stud_grades, stud_grades_set)

{'C', 'A', 'F', 'B'} {'C', 'A', 'F', 'B'}

Add a new element â€˜Gâ€™ to stud_grades_set

In [123]:

stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [125]:

stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove â€˜Fâ€™ from stud_grades_set

In [128]:

stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [130]:
print(stud_grades_set)
len(stud_grades_set)

{'C', 'G', 'B', 'A'}

4

### Create colors = [â€˜redâ€™,â€™blueâ€™,â€™orangeâ€™], and fruits = [â€˜orangeâ€™,â€™grapesâ€™,â€™applesâ€™]

In [131]:
colors = {'red', 'blue', 'orange'}
fruits = {'orange', 'grapes', 'apples'}

Print color and fruits

In [132]:
print(colors, fruits)

{'blue', 'orange', 'red'} {'orange', 'grapes', 'apples'}

Create colors_set, and fruits_set. (using set() ) and print them

In [1]:
colors_set = set(["blue", "orange", "red"])
fruits_set = set(["orange", "grapes", "apples"])

In [4]:
print(colors_set)
print(fruits_set)

{'blue', 'red', 'orange'}
{'grapes', 'apples', 'orange'}

Find the union of both the sets.

In [5]:
Union = colors_set.union((fruits_set))
Union

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [6]:
Inter = colors_set.intersection(fruits_set)
Inter

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [8]:
Diff = fruits_set.difference(colors_set)
Diff

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, â€™Viratâ€™, 50.0]

In [9]:
temp = [17, "Virat", 50.0]

Iterate through temp and print all the items in temp

In [11]:
for i in temp:
    print (i)

17
Virat
50.0

replace first element with 11 in temp

In [13]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [14]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [15]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [16]:
temp1[0] = 17
temp1

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [17]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [18]:
city[0]

'Bangalore'

Create city2 = (â€˜Chennaiâ€™, 30.01, 74)

In [21]:
city2 = ("Chennai", 30.01, 74)

Create cities which consist of city and city2

In [ ]:
cities = (city, city2)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [24]:
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [25]:
type(cities[0])

tuple

print the type of cities

In [26]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [28]:
d = {"actor":"amir", "animal":"cat", "earth":2, "list":[23,32,12]}
type(d)

dict

Print the value of d[0]

In [29]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[â€˜actorâ€™] to a new variable actor.

In [30]:
actor = d["actor"]

Print the type of actor

In [31]:
type(actor)

str

Store the value of d[â€˜listâ€™] in new variable List.

In [32]:
List = d["list"]

Print the type of List.

In [33]:
type(List)

list

Create d1 = { â€˜singerâ€™ : â€˜Kr$naâ€™ , â€˜albumâ€™: â€˜Still hereâ€™, â€˜genreâ€™ : â€˜hip-hopâ€™}

In [34]:
d1 = {"singer": "kr$na", "album": "Still here", "gerne": "hip-hop"}

Merge d1 into d.

In [35]:
d.update(d1)

print d

In [36]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'kr$na',
 'album': 'Still here',
 'gerne': 'hip-hop'}

Print all the keys in d

In [39]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'gerne'])

Print all the values in d

In [40]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [49]:
for key, value in d.items():
    print(f"{key} ---> {value}")

actor ---> amir
animal ---> cat
earth ---> 2
list ---> [23, 32, 12]
singer ---> kr$na
album ---> Still here
gerne ---> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [57]:
a = 'sent'
b = {}

for i in a:
    if i in b:
        b[i] += 1
    else:
        b[i] = 1

for i, count in b.items():
    print(f"{i} ---> {count}")

s ---> 1
e ---> 1
n ---> 1
t ---> 1